$Fuente1: 'Lato', sans-serif;
$Fuente2: 'Oswald', sans-serif;
$color-primario: #333333;
$color-claro: #ffffff;
$color-secundario: #8841DA;
$color-variacion: #3f579a;
.estadistica--perfil{
    display: flex;
    width: 50%;
    height: 90px;
    padding-top: 15px;
    margin: 0 auto;
    justify-content: space-around;
    @include caja;
    h3{
        font-weight: 600;
        font-size: 20px;
        text-align: center;
        @include titulos($Fuente2);
    }
    span{
        font-size: 12px;
        text-align: center;
        @include titulos($Fuente2);
    }
}